<config>  
  <sffs xmlns="urn:ciena:params:xml:ns:yang:ciena-pn::ciena-sfc">
    <sff>
      <sff-name>FD-LAN</sff-name>
      <sff-mode>vpws</sff-mode>
      <interface>
        <name>FD-LAN-FP-vnet0</name>
        <logical-port>vnet-0</logical-port>
        <classifier-list>Untagged</classifier-list>
      </interface>
      <interface>
        <name>FD-LAN-FP-1</name>
        <logical-port>1</logical-port>
        <classifier-list>Untagged</classifier-list>
      </interface>
    </sff>
  </sffs>
</config>
