<config>  
  <fds xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fd">
   <fd operation="replace">
      <name>vlan-VLAN#{{stag}}</name>
      <mode>vlan</mode>
      <vlan-id>{{stag}}</vlan-id>
      <mac-learning>enabled</mac-learning>
      <pfg-profile>L2-Profile-univ</pfg-profile>
      <ciena-fd xmlns="http://www.ciena.com/ns/yang/ciena-fd">
        <tagged-pvst-l2pt>disabled</tagged-pvst-l2pt>
        <pfg-admin-state>disabled</pfg-admin-state>
        <egress-tpid>0x8100</egress-tpid>
      </ciena-fd>
      <ciena-fd-sds xmlns="http://www.ciena.com/ns/yang/ciena-fd-sds"/>
    </fd>
  </fds>
</config>
