<config>  
  <fds xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fd">
   <fd>
      <name>vs-VS{{evpl.stag}}</name>
      <mode>vpls</mode>
      <mac-learning>enabled</mac-learning>
   </fd>
  </fds>
</config>
