<config>  
  <fps xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fp">
   <fp>
      <name>vlan-VLAN#{{stag}}-{{nniPort}}</name>
      <fd-name>vlan-VLAN#{{stag}}</fd-name>
      <logical-port>{{nniPort}}</logical-port>
      <uni/>
      <classifier-list>clsfr_v{{stag}}</classifier-list>
    </fp>
  </fps>
</config>
