<config>  
  <fps xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fp">
    <fp>
      <name>vs-VS{{stag}}-{{uniPort}}</name>
      <fd-name>vs-VS{{stag}}</fd-name>
      <logical-port>{{uniPort}}</logical-port>
      <uni></uni>
      <classifier-list>clsfr_v{{ctag}}</classifier-list>
   </fp>
  </fps>
</config>
