<config>  
  <fps xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fp">
    <fp>
      <name>vs-VS{{stag}}-vc-VC{{stag}}</name>
      <fd-name>vs-VS{{stag}}</fd-name>
      <svlan>{{stag}}</svlan>
   </fp>
  </fps>
</config>
