<config>  
  <fps xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fp">
    <fp>
      <name>vs-VS{{evpl.stag}}-{{evpl.uniPort}}</name>
      <fd-name>vs-VS{{evpl.stag}}</fd-name>
      <logical-port>{{evpl.uniPort}}</logical-port>
      <uni></uni>
      <classifier-list>clsfr_v{{evpl.ctag}}</classifier-list>
   </fp>
  </fps>
</config>
