<config>  
  <fps xmlns="urn:ciena:params:xml:ns:yang:ciena-pn:ciena-mef-fp">
    <fp>
      <name>vs-VS{{evpl.stag}}-vc-VC{{evpl.stag}}</name>
      <fd-name>vs-VS{{evpl.stag}}</fd-name>
      <svlan>{{evpl.stag}}</svlan>
   </fp>
  </fps>
</config>
